<%- include header %>

    <div class="banner">
      <img class="banner-img" src="images/bg.jpg">
      <div class="banner-text">
        <div class="container">
          <h1>欢迎来到加班的世界</h1>
          <p>请到教主处领取加班单</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <h2>Latest</h2>
          <div class="row list">
            <% posts.forEach(function(post, index){ %>
              <div class="col-xs-12 col-md-6">
                <article id="article-1">
                  <img src="images/bg.jpg" width="360" height="180">
                  <div class="desc">
                    <a href="#"><h2><%= post.title %></h2></a>
                    <author><span class="glyphicon glyphicon-pencil"></span><%= post.poster %></author>
                    <p><%= post.contents %></p>
                    <ul class="tags">
                      <li id="tag-30">PHP</li>
                    </ul>
                  </div>
                </article>
              </div>
            <% }) %>
            <div class="clearfix visible-nm"></div>
          </div>
        </div>

        <%- include side %>
      </div>
    </div><!-- /.container -->

<%- include footer %>
