<%- include header %>

    <div class="banner">
      <img class="banner-img" src="<%=pageImage%>">
      <div class="banner-text">
        <div class="container">
          <h1><%=pageTitle%></h1>
          <p><%=pageDesc%></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="row list">
            <% posts.forEach(function(post, index){ %>
            <div class="col-xs-12 col-md-6">
              <article id="article-1">
                <img src="images/bg.jpg" width="360" height="180">
                <div class="desc">
                  <a href="/p/<%= post._id %>"><h2><%= post.title %></h2></a>
                  <author>
                    <span class="glyphicon glyphicon-pencil"></span><%= post.poster %>
                  </author>
                  <timestamp>
                    <span class="glyphicon glyphicon-time"></span><%= post.createTime %>
                  </timestamp>
                  <p><%= post.contents %></p>
                  <ul class="tags">
                    <li id="tag-30">PHP</li>
                  </ul>
                </div>
              </article>
            </div>
            <% if (index % 2 == 1) {%>
            <div class="clearfix visible-nm"></div>
            <% } %>
            <% }) %>
          </div>
        </div>

        <%- include side %>
      </div>
    </div><!-- /.container -->

<%- include footer %>
